{% load morde_extras %}
{# Parámetros esperados: heading, subheading, cta_left_label, cta_left_url, cta_right_label, cta_right_url, cta_right_is_whatsapp #}
<div class="container my-5">
  <div class="cta-banner d-flex flex-wrap align-items-center justify-content-between gap-3">
    <div>
      <h4 class="text-white mb-1">{{ heading }}</h4>
      <p class="mb-0 small">{{ subheading }}</p>
    </div>
    <div class="d-flex gap-2 flex-wrap">
      {% if cta_left_label %}
        <a href="{% whatsapp_order_link %}" class="btn-morde-dark">{{ cta_left_label }}</a>
      {% endif %}
      {% if cta_right_label %}
        <a href="{{ cta_right_url }}" class="btn-morde-light bg-white">{{ cta_right_label }}</a>
      {% endif %}
    </div>
  </div>
</div>
